html body {
  font-family: sans-serif;
  background-image: url("https://github.com/EricDominici/To-do-list/blob/main/public/360818.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
  width: 100vw; 

}

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 5px;
}

input[name="taskText"]::placeholder {
  color: #040508;
}

.list {
  margin: 25px auto;
  padding: 25px;
  background-color: #7b828c;
  width: 100%;
  max-width: 420px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #040508;
}

.dateRight {
  display: flex;
  align-items: center;
}

#dateNumber,
#dateText {
  font-weight: bold;
}

#dateNumber {
  font-size: 50px;
}

#dateText {
  letter-spacing: 3px;
  text-transform: uppercase;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 15px;
}

input {
  border: none;
  padding-left: 10px;
  background-color: #4f5660;
  width: 100%;
  color: #040508;
}

input:focus {
  outline: none;
}

.addTaskButton,
.historyButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.addTaskButton {
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #7b828c;
  color: #040508;
}

.historyButton {
  background-color: #040508;
  color: #7b828c;
}

.task {
  background-color: #040508;
  padding: 15px;
  margin-top: 15px;
  color: #7b828c;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-shadow: #949494;
  font-weight: bold;
}

.task.done {
  background-color: #4f5660;
  padding: 15px;
  margin-top: 15px;
  color: #040508;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.buttonsContainerTask {
  display: flex;
  justify-content: space-between;
}

.deleteTaskButton,
.completeTaskButton,
.editTaskButton {
  background-color: #373f48;
  border: none;
  color: #7b828c;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editTaskButton {
  display: none;
}

.addTaskButton:hover,
.orderButton:hover {
  background-color: #4f5660;
  color: #1c2028;
}

.deleteTaskButton:hover,
.completeTaskButton:hover {
  background-color: #872222;
  color: #510404;
}

.completeTaskButton:hover {
  background-color: #274906;
  color: #0d7412;
}

/* Estilos para el modal del historial */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #373f4871;
}

.modal-content {
  margin: 2% auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.modal-dialog {
  max-width: 80px;
  width: 90%;
}

.modal-title {
  color: #7b828c ;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.custom-modal-dialog {
  max-width: 500px;
  width: 90%;
}

#myModalContent {
  background-color:  #1c2028 ;
}

@media (max-width: 500px) {
  .list {
    padding: 15px;
  }
  
  #dateNumber {
    font-size: 30px;
  }
  
  .task,
  .task.done {
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .deleteTaskButton,
  .completeTaskButton,
  .editTaskButton {
    font-size: 12px;
  }
  
  .modal-content {
    margin: 10% auto;
  }
}
